# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

flask
flask-restful
nose
oslo.config>=1.2.1,<1.10.0 # Shall be upgraded when fixed in OSTF!
pbr>=0.6,!=0.7,<1.0
oslo.utils
PrettyTable>=0.7,<0.8
requests>=2.2.0,!=2.4.0
simplejson>=2.2.0

#TODO(???): move this fix into fuel-ostf
python-muranoclient
